/* thanks to yarl on github https://gist.github.com/yarl/b3d4b4114d82c8bb041d */
/* mdSelect is slated for 0.8.0, replace when that is ready */
md-input-container select.md-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAD1BMVEUAAAB6enp6enp5eXn///+i9s37AAAAA3RSTlMAgIgilleHAAAAIklEQVR4AWOgG2BihgImmAgjhM+IUMOI4CNEGNHMYaKlKwEp5wBLyMAwGAAAAABJRU5ErkJggg==) 99% center no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

md-input-container select.md-input:focus {
    border-bottom: 2px solid #FFC107 !important;
    margin-bottom: 0;
}

md-input-container select.md-input:focus::-ms-value {
    background: transparent;
    color: inherit;
}

md-input-container select.md-input::-ms-expand {
    display: none;
}

.md-button:not(.md-fab) {
    min-width: 10em;
}

/* fixes for select placeholder */
select, option:disabled {
    color: rgba(0,0,0,0.26);
}