<!-- shamelessly grabbed from the material.angularjs docs -->
<md-button class="md-button-toggle"
           ng-click="toggle()"
           aria-controls="nav-menu-{{section.name | nospace}}"
           aria-expanded="{{isOpen()}}">
    <div flex layout="row">
        {{section.name}}
        <span flex=""></span>
        <span aria-hidden="true" class="md-toggle-icon"
            ng-class="{'toggled' : isOpen()}">
            <md-icon md-svg-icon="navigation:expand_less"></md-icon>
        </span>
    </div>
    <span class="visuallyhidden">     <!-- for aria screen readers -->
    Toggle {{isOpen()? 'expanded' : 'collapsed'}}
    </span>
</md-button>

<ul ng-show="isOpen()" class="menu-toggle-list" id="nav-menu-{{section.name | nospace}}">
    <li ng-repeat="page in section.pages">
        <menu-link section="page"></menu-link>
    </li>
</ul>