<ng-form name="pwForm">
    <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="pw" ng-change="pwChange(pw)" required/>
        <div ng-messages="pwForm.password.$error" ng-if="pwForm.$dirty">
            <div ng-message="required">Required</div>
        </div>
        <div ng-messages="error" ng-if="!pwForm.password.$error.required">
            <div ng-message="strength">Weak Password</div>
        </div>
    </md-input-container>
    <div ng-style="pwStyle" ng-if="pw"></div>
    <md-input-container>
        <label>Confirm Password</label>
        <input name="confirm" type="password" ng-model="user.confirm" diff-validator differ="pw" required/>
        <div ng-messages="pwForm.confirm.$error" ng-if="pwForm.$dirty">
            <div ng-message="required">Required</div>
            <div ng-message="diff">Different Password</div>
        </div>
    </md-input-container>
</ng-form>