<h1>Meet The Board</h1>
<div layout="row" layout-sm="column" layout-align-sm="space-around center" layout-margin layout-fill>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="president" height="90" width="80">
		<h2>President</h2>
		<p>Name</p>
		<p>Address</p>
		<p>Phone</p>
		<p>Email</p>
	</div>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="vice president" height="90" width="80"><br \>
		<h2>Vice President</h2>
		<p>Name</p>
		<p>Address</p>
		<p>Phone</p>
		<p>Email</p>
	</div>
</div>
<div layout="row" layout-sm="column" layout-align-sm="space-around center" layout-margin layout-fill>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="secretary" height="90" width="80"><br \>
		<h2>Secretary</h2>
		<p>Name</p>
		<p>Address</p>
		<p>Phone</p>
		<p>Email</p>
	</div>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="treasurer" height="90" width="80"><br \>
		<h2>Treasurer</h2>
		<p>Name</p>
		<p>Address</p>
		<p>Phone</p>
		<p>Email</p>
	</div>
</div>
