<h1>Welcome To Centerville High School Parent Teacher Organization</h1>
<p>Dear Centerville High School Parents and Guardians,</p>
<p>We hope you are excited for the 2014-2015 school year at Centerville High School. The PTO board is ready to begin supporting your child's education in a variety of ways.</p>
<p>This letter is an appeal for each of you to become active members of the PTO group. There are many ways to contribute and make a difference. We ask that you consider sponsoring the PTO at the level which works best for you. In addition to sponsoring the PTO as a member, we also ask that you consider a volunteer role within our group, through committee involvement. There are a variety of interesting projects/events that need support and any amount of time or level of assistance is appreciated. This is a wonderful way to get to know the school, staff, students and parents. Beyond contributing in a meaningful way, we have lots of fun, and our children benefit from our involvement in their school as well.</p>
<p>Here is just a sample of PTO sponsored activities:</p>
<ul>
    <li>Scholarships for graduating seniors</li>
    <li>Annual College and Career Fair</li>
    <li>Elk Pride program for students</li>
    <li>Elk Tales mailings/communication for students/adults</li>
    <li>Motivational/Educational speakers</li>
    <li>Parent programs</li>
    <li>Volunteer program</li>
</ul>
<p>Please consider our request for your active support this year! The membership form and the volunteer form can be downloaded from this page. We look forward to answering any questions you might have, and in working with you to support the students of Centerville High School. Go Elks!</p>
<p>Thank you very much for your support!</p>