<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Markdown Cheatsheet</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="markdown-format" marked ng-include="'partials/markdown-cheat.md'">
        </div>
    </md-dialog-content>
</md-dialog>