<div layout-margin layout-padding>
    <div layout="column" layout-align="space-around center" flex>
        <h1 class="md-display-1">New Download</h1>
    </div>
    <form name='dlForm' layout='row' layout-sm="column" layout-fill>
        <div layout='column' flex>
            <md-autocomplete placeholder="Download Type" md-selected-item="debug.typeObj"
                             md-search-text="debug.searchText"
                             md-items="item in query(debug.searchText)" md-item-text="item.display"
                             md-selected-item-change="createType()"
                             md-search-text-change="createType()" required>
                <span md-highlight-text="debug.searchText">{{item.display}}</span>
            </md-autocomplete>
            <md-input-container>
                <label>Name</label>
                <input type='text' name='dlname' ng-model='download.name' required>

                <div ng-messages="dlForm.dlname.$error" ng-if="dlform.dlname.$touched || dlForm.dlname.$dirty">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Short Description</label>
                <input type='text' name='shortDesc' ng-model='download.shortDesc'>
            </md-input-container>
            <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
                <md-tab label="Write">
                    <markdown-help></markdown-help>
                    <md-input-container>
                        <label>Description</label>
                        <textarea class="monospace" name='desc' ng-model='download.desc' minlength="10" md-maxlength="5500" ng-trim="false" required></textarea>

                        <div ng-messages="dlForm.desc.$error" ng-if="dlform.desc.$touched || dlForm.desc.$dirty">
                            <div ng-message="required">This is required</div>
                            <div ng-message="minlength">Minimum character count of 10</div>
                            <div ng-message="md-maxlength">Maximum character count of 1000000</div>
                        </div>
                    </md-input-container>
                </md-tab>
                <md-tab label="Preview">
                    <div class="markdown-format" marked="download.desc"></div>
                    <p ng-if="!download.desc || download.desc == ''">Nothing to preview</p>
                </md-tab>
            </md-tabs>
        </div>
        <div layout='column' layout-align='start center' flex-gt-sm="25">
            <input multiple type="file" id="fileInput" name="file" style='display:none' ng-model="download.file"
                   onchange="angular.element(this).scope().fileChange()">
            <md-button class="md-primary md-raised" type='button' ng-click="fileUpload()">Upload File</md-button>
            <table>
                <tr ng-repeat="file in download.files">
                    <td><span>{{file.name}}</span></td>
                    <td>
                        <md-progress-circular ng-hide="pgress[$index] == 100"
                                              md-mode="indeterminate"></md-progress-circular>
                        <md-button ng-show="pgress[$index] == 100" class="md-warn md-button-small"
                                   ng-click="removeFile($index)" aria-label="Delete">
                            <md-icon md-svg-icon="content:clear"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </table>

        </div>
    </form>
    <div class="md-actions" layout="row">
        <md-button class="md-warn md-button-small" ng-href="#/downloads">Cancel</md-button>
        <md-button class="md-button-small" ng-disabled="!download.files.length > 0 || !download.type || dlForm.$invalid"
                   ng-click="submit(download)">Submit
        </md-button>
    </div>
</div>
