<script type="text/javascript-lazy" src="/js/lib/zxcvbn-async.js"></script>
<div layout-margin layout-padding>
    <div layout="column" layout-align="space-around center" flex>
        <h1 class="md-display-1">New User</h1>
    </div>
    <form name="registerForm" novalidate>
        <div layout="row" layout-sm="column">
            <md-input-container>
                <label>First</label>
                <input name="first" type="text" ng-model="user.firstName" required/>
                <div ng-messages="registerForm.first.$error" ng-if="registerForm.$dirty">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Last</label>
                <input name="last" type="text" ng-model="user.lastName" required/>
                <div ng-messages="registerForm.last.$error" ng-if="registerForm.$dirty">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input name="email" type="email" ng-model="user.email" required/>
                <div ng-messages="registerForm.email.$error" ng-if="registerForm.$dirty">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <md-select name="type" ng-model="user.type" placeholder="type" required>
                    <md-option value="admin">Admin</md-option>
                    <md-option value="scholarship">Scholarship</md-option>
                </md-select>
                <div ng-messages="registerForm.type.$error" ng-if="registerForm.$dirty">
                    <div ng-message="required">Required</div>
                </div>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Username</label>
            <input name="username" type="text" ng-model="user.username" value="{{user.email}}" required/>
            <div ng-messages="registerForm.username.$error" ng-if="registerForm.$dirty">
                <div ng-message="required">Required</div>
            </div>
            <div ng-messages="userError" ng-if="!registerForm.username.$error.required">
                <div ng-message="user">Username already Exists</div>
            </div>
        </md-input-container>

        <password pw="user.password" error="error"></password>

        <pre>{{user | json}}</pre>

        <md-button class="md-warn" type="button" ng-href="#/admin">Cancel</md-button>
        <md-button type="submit" ng-disabled="registerForm.$invalid || userError.user" ng-click="submit()">Submit</md-button>
    </form>
</div>