*:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

/* fixes for select placeholder */
select, option:disabled {
    color: rgba(0,0,0,0.26);
}

/* thanks to the material angularjs docs, and html5 boilerplate */
/* hides text from visual users, but is visible to screenreaders and accesibility devices */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px;
}

/* BEGIN menu navigation */
.menu,
.menu ul {
    list-style:none;
    padding:0;
}
.menu li {
    margin: 0;
}
.menu > li {    /* matches all li that are immediate children of .menu class */
    border-top: 1px solid rgba(0,0,0, 0.12);
}

.menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin:0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.menu button.md-button::-moz-focus-inner {
    padding:0;
}
.menu .md-button.active {
    color: #607D8B; /* primary accent color blue-grey*/
}
.menu-heading {
    color: #888;
    display: block;
    line-height: 40px;
    margin: 0;
    padding: 0 16px;
    text-align: left;
    width: 100%;
}
.menu li.parentActive,
.menu li.parentActive .menu-toggle-list {
    background-color: #f6f6f6;
}
.menu-toggle-list {
    background: #fff;
    max-height: 1300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
}
.menu-toggle-list.ng-hide {
    max-height: 0;
}
.menu .menu-toggle-list a.md-button {
    display: block;
    font-weight: 400;
    padding: 0 16px 0 32px;
    text-transform: none;
}
.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
/* End Docs Menu */


/* form styling */
.small-form {
    max-width: 864px; 
    margin: auto;
}

img.fileicon {
    height:48px;
}

.date-pad {
    padding-right: 5px;
    padding-left: 5px;
}

.required-message {
    font-size: 12px;
    line-height: 24px;
}

button.form-next {
    float:right;
    margin:15px;
}

th, td {
    text-align: left;
}

.md-action {
    min-width:1em;
    min-height:30px;
}

div.hr {
    display: block;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.12);
    margin: 0;
}

md-list-item.transition {
    transition: margin 500ms;
}

md-list-item.transition.selected {
    margin: 30px -20px;
}

md-list-item.selected:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

p.pre {
    white-space: pre-wrap !important;
}
