*:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

/* fixes for select placeholder */
select, option:disabled {
    color: rgba(0,0,0,0.26);
}

/* thanks to the material angularjs docs, and html5 boilerplate */
/* hides text from visual users, but is visible to screenreaders and accesibility devices */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px;
}

/* BEGIN menu navigation */
.menu,
.menu ul {
    list-style:none;
    padding:0;
}
.menu li {
    margin: 0;
}
.menu > li:nth-child(1) {
    border-top: none;
}
.menu > li {    /* matches all li that are immediate children of .menu class */
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin:0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.menu button.md-button::-moz-focus-inner {
    padding:0;
}
.menu .md-button.active {
    color: #607D8B; /* primary accent color blue-grey*/
}
.menu-heading {
    display: block;
    line-height: 32px;
    margin: 0;
    padding: 8px 16px 0;
    text-align: left;
    width: 100%;
    color: #888;
}
.menu li.parentActive,
.menu li.parentActive .menu-toggle-list {
    background-color: #f6f6f6;
}
.menu-toggle-list {
    background: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
}
.menu-toggle-list.ng-hide {
    height: 0;
}
.menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}
.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
/* End Docs Menu */


/* mdtDataTable (migrate to real mdDataTable when that comes) */
mdt-data-table {
    max-width: 100%;
}
.mdt-data-table {
    border-collapse: collapse;
}
.mdt-data-table thead {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    white-space: nowrap;
}
.mdt-data-table thead th {
    border-bottom: 1px solid #E3E3E3;
    font-weight: 500;
    height: 48px;
    text-align: left;
}
.mdt-data-table thead th:not(.dt-checkbox):not(:last-child) {
    padding-right: 56px;
}
.mdt-data-table thead th:first-child {
    padding-left: 24px;
}
.mdt-data-table thead th:last-child {
    padding-right: 24px;
}
.mdt-data-table tbody {
    font-weight: normal;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}
.mdt-data-table tbody tr {
    height: 48px;
}
.mdt-data-table tbody tr:not(:last-child) {
    border-bottom: 1px solid #E3E3E3;
}
.mdt-data-table tbody tr:hover {
    background-color: #EEEEEE;
}
.mdt-data-table tbody tr.dt-checked {
    background-color: #E0E0E0;
}
.mdt-data-table tbody tr td {
    padding-right: 24px;
}
.mdt-data-table tbody tr td:not(.dt-checkbox):not(:last-child) {
    padding-right: 56px;
}
.mdt-data-table tbody tr td:first-child {
    padding-left: 24px;
}
.mdt-data-table tbody tr td.dt-number-column {
    text-align: right;
}
.mdt-data-table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    display: block;
}

/* My mdCard extensions */
md-card md-card-header {
    padding: 16px;
}

md-card[md-table-card] > md-card-content {
    padding: 0;
}

md-card[md-table-card] md-card-header.dt-select-header {
    background-color: #ECEFF1; /* 50 value of secondary app color (blue-grey ) */
}

md-card[md-table-card] md-card-footer {
    color: rgba(0,0,0,.54);
    height: 56px;
}

/* form styling */
.small-form {
    max-width: 864px; 
    margin: auto;
}

img.fileicon {
    height:48px;
}

.date-pad {
    padding-right: 5px;
    padding-left: 5px;
}

.required-message {
    font-size: 12px;
    line-height: 24px;
}

button.form-next {
    float:right;
    margin:15px;
}

.user-details th, .user-details td {
    text-align: left;
}

.md-action {
    min-width:1em;
    min-height:30px;
}

div.hr {
    display: block;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.12);
    margin: 0;
}

md-list-item.transition {
    transition: margin 500ms;
}

md-list-item.transition.selected {
    margin: 30px -20px;
}

md-list-item.selected:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

p.pre {
    white-space: pre-wrap !important;
}
