<md-dialog aria-label="Create Calendar Event">
    <md-dialog-content>
        <form name="calendarForm">
            <md-input-container>
                <label>Name</label>
                <input type="text" name="name" ng-model="calendar.name" required>

                <div ng-messages="calendarForm.name.$error" ng-if="calendarForm.name.$touched || calendarForm.name.$dirty">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Date</label>
                <input type="datetime-local" name="date" ng-model="calendar.date" required>

                <div ng-messages="calendarForm.date.$error" ng-if="calendarForm.date.$touched || calendarForm.date.$dirty">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Name</label>
                <input type="text" name="location" ng-model="calendar.location" required>

                <div ng-messages="calendarForm.location.$error" ng-if="calendarForm.location.$touched || calendarForm.location.$dirty">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Contact Information</label>
                <input type="text" name="contact" ng-model="calendar.contact" required>

                <div ng-messages="calendarForm.contact.$error" ng-if="calendarForm.contact.$touched || calendarForm.contact.$dirty">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-warn md-button-small" ng-click="cancel('canceled')">Cancel</md-button>
        <md-button class="md-button-small" ng-disabled="calendarForm.$invalid"
                   ng-click="submit(calendar)">Submit
        </md-button>
    </div>

</md-dialog>