<div class="md-whiteframe-z1 small-form" layout-margin layout-padding>
    <form name="loginForm" novalidate ng-submit="login(credentials)" autocomplete="on">
        <div layout='column' layout-align="center center">
            <md-input-container>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" ng-model="credentials.username" required>
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" ng-model="credentials.password" required>
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">This is required</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-accent" type="submit" ng-disabled="loginForm.$invalid">Login</md-button>
            <pre >{{debug | json}}</pre>
        </div>
    </form>
    <md-button ng-click="test()">Test Restricted</md-button>
</div>