<div ng-controller="BoardCtrl" class="md-whiteframe-z1 small-form">
    <form ng-submit="newBoard()" name="userForm" novalidate>
        <md-tabs md-selected="data.index">
            <md-tab label="Apply">
                <div layout="row" layout-sm="column" layout-align="center center" layout-margin layout-padding>
                    <div>
                        <h2>CHS PTO Board Application</h2>
						<p>Each year the CHS PTO elects new members to the board to replace outgoing members. We seek individuals and couples interested in serving on the PTO board. The term of commitment is a minimum of three years with an option for a fourth year if interested. The current board votes on a specified number of applicants based on the number of outgoing members. Board meetings are held on the first Wednesday of each month with committees meeting as needed.</p>
                    </div>
                    <md-button class="md-raised md-primary" type="button" ng-click="data.accept()">Apply</md-button>
                </div>
            </md-tab>
           <md-tab label="You" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="user.first">
                        </md-input-container>
						<md-input-container flex>
                            <label>Middle Name</label>
                            <input ng-model="user.middle">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="user.last">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container flex>
                            <label>Address</label>
                            <input ng-model="user.address">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>
                        <md-input-container flex>
                            <label>State</label>
                            <input ng-model="user.state">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Zip Code</label>
                            <input ng-model="user.postalCode">
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>Home Phone Number</label>
                            <input ng-model="user.homephone">
                        </md-input-container>
						<md-input-container flex>
                            <label>Work Phone Number</label>
                            <input ng-model="user.workphone">
                        </md-input-container>
					</div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="user.email">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Children" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Children</strong></label>
                        <md-slider md-discrete ng-model="num"
                                  ng-change="changeChildren(num)"
                                  step="1" min="1" max="7"></md-slider>
                    </div>
                    <div ng-repeat="children in user.Children">
                        <h3 class="md-primary">Child {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Child's Name</label>
                               <input ng-model="Children.name">
                           </md-input-container>
						   <md-input-container flex>
                               <label>Child's School</label>
                               <input ng-model="Children.School">
                           </md-input-container>
                        </div>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Availability" ng-disabled="!data.accepted">
                <div layout-margin layout="row">
                    <div layout="column" layout-sm="row">
                        <md-checkbox md-no-ink aria-label="Weekday Mornings" ng-model="user.daymorn" class="md-primary">
							<label>Weekday Mornings</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Weekend Mornings" ng-model="user.endmorn" class="md-primary">
							<label>Weekend Mornings</label>
						</md-checkbox>
                    </div>
					<div layout="column" layout-sm="row">
                        <md-checkbox md-no-ink aria-label="Weekday Afternoons" ng-model="user.dayafter" class="md-primary">
							<label>Weekday Afternoons</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Weekend Afternoons" ng-model="user.endafter" class="md-primary">
							<label>Weekend Afternoons</label>
						</md-checkbox>
                    </div>
					<div layout="column" layout-sm="row">
                        <md-checkbox md-no-ink aria-label="Weekday Evenings" ng-model="user.dayeve" class="md-primary">
							<label>Weekday Evenings</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Weekend Evenings" ng-model="user.endeve" class="md-primary">
							<label>Weekend Evenings</label>
						</md-checkbox>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Interests" ng-disabled="!data.accepted">
                <div layout-margin layout="row">
                    <div layout="column" layout-sm="row">
                        <md-checkbox md-no-ink aria-label="Volunteer Coordinator" ng-model="user.volcoor" class="md-primary">
							<label>Volunteer Coordinator</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Elk News & Website" ng-model="user.newsweb" class="md-primary">
							<label>Elk News & Website</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="College and Career Fair" ng-model="user.fair" class="md-primary">
							<label>College and Career Fair</label>
						</md-checkbox>
                    </div>
					<div layout="column" layout-sm="row">
                        <md-checkbox md-no-ink aria-label="Elk Tours" ng-model="user.tours" class="md-primary">
							<label>Elk Tours</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Hospitality" ng-model="user.hos" class="md-primary">
							<label>Hospitality</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Membership" ng-model="user.member" class="md-primary">
							<label>Membership</label>
						</md-checkbox>
                    </div>
					<div layout="column" layout-sm="row">
                        <md-checkbox md-no-ink aria-label="Special Events" ng-model="user.event" class="md-primary">
							<label>Special Events</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Scholarships" ng-model="user.scholar" class="md-primary">
							<label>Scholarships</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Fundraising" ng-model="user.fund" class="md-primary">
							<label>Fundraising</label>
						</md-checkbox>
                    </div>
					<div layout="column" layout-sm="row">
                        <md-checkbox md-no-ink aria-label="Orientation" ng-model="user.or" class="md-primary">
							<label>Orientation</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Mailings" ng-model="user.mail" class="md-primary">
							<label>Mailings</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="Elk Pride" ng-model="user.pride" class="md-primary">
							<label>Elk Pride</label>
						</md-checkbox>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Skills" ng-disabled="!data.accepted">
                <div layout-margin>
					<p>Summarize special skills and qualifications you have acquired from employment, previous volunteer work, or through other activities, including hobbies or sports.</p>
                    <md-input-container flex>
						<label>Special Skills or Qualifications</label>
						<textarea ng-model="user.skills" md-maxlength="3000" required></textarea>
					</md-input-container>
                </div>
            </md-tab>
			<md-tab label="Experience" ng-disabled="!data.accepted">
                <div layout-margin>
					<p>Summarize your previous volunteer experience.</p>
                    <md-input-container flex>
						<label>Previous Volunteer Experience</label>
						<textarea ng-model="user.experience" md-maxlength="3000" required></textarea>
					</md-input-container>
                </div>
            </md-tab>
			<md-tab label="Why" ng-disabled="!data.accepted">
                <div layout-margin>
					<p>Why do you want to serve on the CHS PTO Board?</p>
                    <md-input-container flex>
						<label>Why?</label>
						<textarea ng-model="user.why" md-maxlength="3000" required></textarea>
					</md-input-container>
					<p>Would you consider serving in an Executive Board position in the future?</p>
					<md-radio-group ng-model="user.position">
						<md-radio-button value="Yes">Yes</md-radio-button>
						<md-radio-button value="No">No</md-radio-button>
					</md-radio-group>
                </div>
				<div layout-align="center ">
                    <md-button class="md-primary md-raised" type="submit" ng-disabled="userForm.$invalid">Submit</md-button>
                </div>
            </md-tab>
       </md-tabs>
    </form>
</div>
