<div ng-controller="MembershipCtrl" class="md-whiteframe-z1 small-form">
    <form ng-submit="newMember(userForm.$valid)" name="userForm" novalidate>
        <md-tabs md-selected="data.index">
            <md-tab label="Join">
                <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                    <div>
                        <h2>Join the Centerville High School PTO!</h2>

                        <p>Joining helps support teachers, students, and parents:</p>
                        <ul>
                            <li>PTO Scholarships for Students</li>
                            <li>After-Prom</li>
                            <li>College Information Night</li>
                            <li>Various clubs and activities</li>
                            <li>ELK PRIDE</li>
                            <li>Teacher Recognition Luncheon</li>
                            <li>Academic Volunteer program</li>
                            <li>College and Career fair</li>
                            <li>Open House</li>
                            <li>College Financial Aid Information Night</li>
                            <li>ELK NEWS daily email service</li>
                        </ul>
                    </div>
                    <md-button class="md-raised md-primary" type="button" ng-click="data.accept()">Join</md-button>
                </div>
            </md-tab>
            <md-tab label="You" ng-disabled="!data.accepted">
                <ng-form name="youForm" layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input name="firstName" ng-model="user.first" required>

                            <div ng-messages="youForm.firstName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input name="lastName" ng-model="user.last" required>

                            <div ng-messages="youForm.lastName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container flex>
                            <label>Address</label>
                            <input name="address" ng-model="user.address" required>

                            <div ng-messages="youForm.address.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input name="city" ng-model="user.city" required>

                            <div ng-messages="youForm.city.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>State</label>
                            <input name="state" ng-model="user.state" required>

                            <div ng-messages="youForm.state.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Zip Code</label>
                            <input name="zip" ng-model="user.postalCode" ng-pattern="/(\d{5}[-]\d{4})|(^\d{5}$)/"
                                   required>

                            <div ng-messages="youForm.zip.$error">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Must be a valid zip code (12345 or 12345-6789)</div>
                            </div>
                        </md-input-container>
                    </div>

                </ng-form>
                <md-button type="button" ng-disabled="youForm.$invalid" class="form-next" ng-click="data.next()">Next</md-button>
            </md-tab>
            <md-tab label="Students" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label>Add a Student</label>
                        <md-slider md-discrete ng-model="numStudents"
                                   ng-change="changeStudents(numStudents)"
                                   step="1" min="1" max="7"></md-slider>
                    </div>
                    <ng-form name="studentForm">
                        <div ng-repeat="student in user.students">
                            <h3 class="md-primary">Student {{$index+1}}</h3>

                            <div layout layout-sm="column">
                                <md-input-container flex>
                                    <label>First Name</label>
                                    <input name="first" ng-model="student.first" required>

                                    <div ng-messages="studentForm.first.$error">
                                        <div ng-message="required">This is required</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Last Name</label>
                                    <input name="last" ng-model="student.last" required>

                                    <div ng-messages="studentForm.last.$error">
                                        <div ng-message="required">This is required</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" layout-align="space-around center">
                                <div layout="column">
                                    <md-select name="grade" placeholder="Grade" ng-model="student.grade" required>
                                        <md-option value="9">Freshmen</md-option>
                                        <md-option value="10">Sophomore</md-option>
                                        <md-option value="11">Junior</md-option>
                                        <md-option value="12">Senior</md-option>
                                    </md-select>
                                    <div ng-messages="studentForm.grade.$error" class="required-message">
                                        <div ng-message="required">This is required</div>
                                    </div>
                                </div>
                                <div layout="column">
                                    <md-select name="unit" placeholder="Unit" ng-model="student.unit" required>
                                        <md-option value="E">East</md-option>
                                        <md-option value="S">South</md-option>
                                        <md-option value="W">West</md-option>
                                    </md-select>
                                    <div ng-messages="studentForm.unit.$error" class="required-message">
                                        <div ng-message="required">This is required</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </ng-form>
                </div>
                <md-button type="button" ng-disabled="studentForm.$invalid" class="form-next" ng-click="data.next()">Next</md-button>
            </md-tab>
            <md-tab label="Donate" ng-disabled="!data.accepted">
                <div layout-margin layout="column" layout-align-gt-sm="space-around center">
                    <div>
                        <div layout="column" layout-align="center center">
                            <h3 ng-model="payment.amount">{{ payment.amount | currency }}</h3>
                        </div>
                        <md-slider ng-model="payment.amount" min="0.00" max="500.00"></md-slider>
                        <div layout="row">
                            <md-input-container flex>
                                <label>First</label>
                                <input name="paymentFirst" id="payment-first" ng-model="payment.first"
                                       ng-required="payment.amount > 0">

                                <div ng-messages="userForm.paymentFirst.$error">
                                    <div ng-message="required">This is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Last</label>
                                <input name="paymentLast" id="payment-last" ng-model="payment.last"
                                       ng-required="payment.amount > 0">

                                <div ng-messages="userForm.paymentLast.$error">
                                    <div ng-message="required">This is required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="66">
                                <label>Number</label>
                                <input name="paymentNumber" id="payment-number" ng-model="payment.number"
                                       ng-required="payment.amount > 0">

                                <div ng-messages="userForm.paymentNumber.$error">
                                    <div ng-message="required">This is required</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>MM/YY</label>
                                <input name="paymentYear" id="payment-exp" ng-model="payment.exp_date"
                                       ng-pattern="/^\d{2}\/\d{2}$/" ng-required="payment.amount > 0">

                                <div ng-messages="userForm.paymentYear.$error">
                                    <div ng-message="required">This is required</div>
                                    <div ng-message="pattern">Must be a valid expiration date (MM/YY)</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>CVC</label>
                                <input name="paymentCVC" id="payment-cvc" ng-model="payment.cvv2" ng-pattern="/^\d{3}$/"
                                       ng-required="payment.amount > 0">

                                <div ng-messages="userForm.paymentCVC.$error">
                                    <div ng-message="required">This is required</div>
                                    <div ng-message="pattern">Must be a valid cvc (123)</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout-align="center">
                        <md-button class="md-primary md-raised" type="submit" ng-disabled="userForm.$invalid">Submit
                        </md-button>
                    </div>
                </div>
            </md-tab>
        </md-tabs>

    </form>
</div>
