<div ng-controller="ScholarshipCtrl" class="md-whiteframe-z1 small-form">
    <form ng-submit="newScholar(userForm.$valid)" name="userForm" novalidate>
        <md-tabs md-selected="data.index">
            <md-tab label="Apply">
                <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                    <div>
                        <h2>Centerville High School PTO Scholarship Application</h2>
						<p>Sign up for the Centerville PTO Scholarship Today!</p>
						<p>This scholarship is available for any Centerville High School Senior</p>
                    </div>
                    <md-button class="md-raised md-primary" type="button" ng-click="data.accept()">Apply</md-button>
                </div>
            </md-tab>
            <md-tab label="You" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input name="firstName" ng-model="user.first" required>
                            <div ng-messages="userForm.firstName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
						<md-input-container flex>
                            <label>Middle Name</label>
                            <input name="middleName" ng-model="user.middle" required>
                            <div ng-messages="userForm.middleName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input name="lastName" ng-model="user.last" required>
                            <div ng-messages="userForm.lastName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container flex>
                            <label>Address</label>
                            <input name="address" ng-model="user.address" required>
                            <div ng-messages="userForm.address.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input name="city" ng-model="user.city" required>
                            <div ng-messages="userForm.city.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Zip Code</label>
                            <input name="zip" ng-model="user.postalCode" ng-pattern="/(\d{5}[-]\d{4})|(^\d{5}$)/" required>
                            <div ng-messages="userForm.zip.$error">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Must be a valid zip code (12345 or 12345-6789)</div>
                            </div>
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>Phone Number</label>
                            <input name="phone" type='tel' ng-model="user.phone" ng-pattern="(\+{0,1}\d{0,1}[- .]{0,1}[(]{0,1}\d{3}[)]{0,1}[- .]{0,1}\d{3}[- .]{0,1}\d{4})|(\d{10,11})" required>
                            <div ng-messages="userForm.phone.$error">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Must be a phone number (+1 (123) 456-7890 or (123)456-789)</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Email</label>
                            <input name="email" type='email' ng-model="user.email" ng-pattern="[\w\d!#$%&'*+/=?^_`{|}~-]+(?:\.[\w\d!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w\d](?:[\w\d-]*[\w\d])?\.)+[\w\d](?:[\w\d-]*[\w\d])?" required>
                            <div ng-messages="userForm.email.$error">
                                <div ng-message="required">This is required</div>
                                <div ng-message="pattern">Must be an email (example@example.com)</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Academics" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>GPA</label>
                            <input name="gpa" type="number" step=".01" value="2.00" ng-model="user.gpa" required>
                            <div ng-messages="userForm.gpa.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
					</div>
                    <div>
                        <h3>Honors Classes:</h3>
                        <small>separate multiple with commas (,)</small>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>9th Grade</label>
                            <input name="nine" ng-model="user.nine">
                            <div ng-messages="userForm.nine.$error"></div>
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>10th Grade</label>
                            <input name="ten" ng-model="user.ten">
                            <div ng-messages="userForm.ten.$error"></div>
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>11th Grade</label>
                            <input name="eleven" ng-model="user.eleven">
                            <div ng-messages="userForm.eleven.$error"></div>
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>12th Grade</label>
                            <input name="twelve" ng-model="user.twelve">
                            <div ng-messages="userForm.twelve.$error"></div>
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Activities" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Add a School Related Activity</strong></label>
                        <md-slider md-discrete ng-model="numS"
                                  ng-change="changeSchoolActivity(numS)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.SchoolActivities">
                        <h3 class="md-primary">Activity {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Activity Name</label>
                               <input name="SAname" ng-model="SchoolActivities.name">
                               <div ng-messages="userForm.SAname.$error"></div>
                           </md-input-container>
						   <md-input-container flex>
                               <label>Hours per Month</label>
                               <input name="SAhours" type='number' ng-model="SchoolActivities.hours" np-pattern="\d{0,3}">
                               <div ng-messages="userForm.SAhours.$error"></div>
                           </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <select class='md-input' ng-model="SchoolActivities.om">
                                    <option value="" disabled selected>Officer or Member</option>
                                    <option value="o">Officer</option>
                                    <option value="m">Member</option>
                                </select>
                            </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="SchoolActivities.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="SchoolActivities.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="SchoolActivities.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="SchoolActivities.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
					<br \><br \><br \>
					<div>
                        <label><strong>Add a Community Related Activity</strong></label>
                        <md-slider md-discrete ng-model="numC"
                                  ng-change="changeCommunityActivity(numC)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.CommunityActivities">
                        <h3 class="md-primary">Activity {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Activity Name</label>
                               <input name="CAname" ng-model="CommunityActivities.name">
                               <div ng-messages="userForm.CAname.$error"></div>
                           </md-input-container>
						   <md-input-container flex>
                               <label>Hours per Month</label>
                               <input name="CAhours" ng-model="CommunityActivities.hours">
                               <div ng-messages="userForm.CAhours.$error"></div>
                           </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <select class='md-input' ng-model="CommunityActivities.om">
                                    <option value="" disabled selected>Officer or Member</option>
                                    <option value="o">Officer</option>
                                    <option value="m">Member</option>
                                </select>
                            </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="CommunityActivities.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="CommunityActivities.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="CommunityActivities.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="CommunityActivities.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Honors/Awards" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Add a Honor/Award</strong></label>
                        <md-slider md-discrete ng-model="numH"
                                  ng-change="changeHonors(numH)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.Honors">
                        <h3 class="md-primary">Honor/Award {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Name</label>
                               <input name="honorsName" ng-model="Honors.name">
                               <div ng-messages="userForm.honorsName.$error"></div>
                           </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="Honors.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="Honors.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="Honors.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="Honors.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Employment" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Add a Job</strong></label>
                        <md-slider md-discrete ng-model="numJ"
                                  ng-change="changeJob(numJ)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.Jobs">
                        <h3 class="md-primary">Job {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Name</label>
                               <input name="jobName" ng-model="Jobs.name">
                               <div ng-messages="userForm.jobName.$error"></div>
                           </md-input-container>
						   <md-input-container flex>
                               <label>Hours per Month</label>
                               <input name="jobHours" ng-model="Jobs.hours">
                               <div ng-messages="userForm.jobHours.$error"></div>
                           </md-input-container>
						</div>
						<div layout layout-sm="column">
							<md-input-container flex>
                               <label>Months per Year</label>
                               <input name="jobMonths" ng-model="Jobs.months">
                               <div ng-messages="userForm.jobMonths.$error"></div>
                            </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="Jobs.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="Jobs.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="Jobs.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="Jobs.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Essay" ng-disabled="!data.accepted">
                <div layout-margin>
						<p>Please answer the following question. The activity can be, but is not required to be, school related.</p>
						<p>What has been your most important extracurricular activity, your most important contribution to it, and what has your participation in it meant to you as an individual?</p>
                    <md-input-container flex>
						<label>Essay</label>
						<textarea name="essay" ng-model="user.essay" minlength="1000" md-maxlength="5500" required></textarea>
                        <div ng-messages="userForm.essay.$error"></div>
					</md-input-container>
                </div>
				<div layout-align="center center" flex layout-fill>
                    <md-button class="md-primary md-raised" type="submit" ng-disabled="userForm.$invalid">Submit</md-button>
                </div>
            </md-tab>
       </md-tabs>
    </form>
</div>
