<div ng-controller="ServiceCtrl" class="md-whiteframe-z1 small-form">
    <form ng-submit="newServer()" name="userForm" novalidate>
        <md-tabs md-selected="data.index" md-dynamic-height>
            <md-tab label="Apply">
                <div layout="row" layout-sm="column" layout-align="center center" layout-margin layout-padding>
                    <div>
                        <h2>Centerville High School PTO Student Service Challenge Scholarship Application</h2>
						<p>The PTO Student Service Challenge Scholarship is intended to reward and encourage activities that have a significant impact in meeting the needs of the Local Centerville/Dayton area community. High school seniors who have contributed 150 hours of community service within their junior and senior years in high school are eligible.</p>
						<p>Representatives of the PTO Board will review the information contained herein. An interview may be required after the initial screening of applications. The information obtained will be held in strict confidence.</p>
                    </div>
                    <md-button class="md-raised md-primary" type="button" ng-click="data.accept()">Apply</md-button>
                </div>
            </md-tab>
           <md-tab label="You" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="user.first">
                        </md-input-container>
						<md-input-container flex>
                            <label>Middle Name</label>
                            <input ng-model="user.middle">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="user.last">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container flex>
                            <label>Address</label>
                            <input ng-model="user.address">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Zip Code</label>
                            <input ng-model="user.postalCode">
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>Phone Number</label>
                            <input ng-model="user.phone">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="user.email">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Essay" ng-disabled="!data.accepted">
                <div layout-margin>
					<p>Please write an essay reflecting on the significance of community service to you personally, as well as, the impact of your service on your local community.</p>
                    <md-input-container flex>
						<label>Essay</label>
						<textarea ng-model="user.essay" minlength="1000" md-maxlength="5500" required></textarea>
					</md-input-container>
                </div>
            </md-tab>
			<md-tab label="Community Service/Activities" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Add Community Service/Activity</strong></label>
                        <md-slider md-discrete ng-model="num"
                                  ng-change="changeActivity(num)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activity in user.activities">
                        <h3 class="md-primary">Community Service/Activity {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Activity Name</label>
                               <input ng-model="activity.name">
                           </md-input-container>
                        </div>
						<div layout-margin>
							<md-input-container flex>
								<label>Description of Community based activity</label>
								<textarea ng-model="activity.description" md-maxlength="1000" required></textarea>
							</md-input-container>
						</div>
						<div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Location of Service</label>
                               <input ng-model="activity.location">
                           </md-input-container>
						   <md-input-container flex>
                               <label>Position</label>
                               <input ng-model="activity.position">
                           </md-input-container>
                        </div>
						<label>Hours of Service Performed per year:</label>
						<div layout="row" layout-sm="column">
							<md-input-container flex>
								<label>9th Grade</label>
								<input type='number' ng-model="activity.nine">
							</md-input-container>
							<md-input-container flex>
								<label>10th Grade</label>
								<input type='number' ng-model="activity.ten">
							</md-input-container>
							<md-input-container flex>
								<label>11th Grade</label>
								<input type='number' ng-model="activity.eleven">
							</md-input-container>
							<md-input-container flex>
								<label>12th Grade</label>
								<input type='number' ng-model="activity.twelve">
							</md-input-container>
						</div>
						<div layout-margin>
							<md-input-container flex>
								<label>Description in detail your commitment and responsibilities to this community activity</label>
								<textarea ng-model="activity.commitment" md-maxlength="5500" required></textarea>
							</md-input-container>
						</div>
                        <h4>Adult Verification</h4>
						<div layout layout-sm="column">
                           
                           <md-input-container flex>
                               <label>Name of Adult Verifying Service</label>
                               <input ng-model="activity.adult">
                           </md-input-container>
						   <md-input-container flex>
                               <label>Relation to Service Project</label>
                               <input ng-model="activity.relation">
                           </md-input-container>
                        </div>
						<div>
							<md-input-container flex>
								<label>Address</label>
								<input ng-model="activity.adultAddress">
							</md-input-container>
						</div>
						<div layout="row" layout-sm="column">
							<md-input-container flex>
								<label>City</label>
								<input ng-model="activity.adultCity">
							</md-input-container>
							<md-input-container flex>
								<label>State</label>
								<input ng-model="activity.adultState">
							</md-input-container>
							<md-input-container flex>
								<label>Zip Code</label>
								<input ng-model="activity.adultPostalCode">
							</md-input-container>
						</div>
						<div layout="row" layout-sm="column">
							<md-input-container flex>
								<label>Phone Number</label>
								<input ng-model="activity.adultPhone">
							</md-input-container>
							<md-input-container flex>
								<label>Email</label>
								<input type='email' ng-model="activity.adultEmail">
							</md-input-container>
						</div>
                    </div>
					<div layout-align="center ">
                        <md-button class="md-primary md-raised" type="submit" ng-disabled="userForm.$invalid">Submit</md-button>
                    </div>
                </div>
            </md-tab>
       </md-tabs>
    </form>
</div>
