<div layout="column" layout-align="center center">
    <md-button type="button" ng-click="addRandomItem()">Add Item</md-button>
    <mdt-data-table title="Members"
                headers="['Membership Id', 'Last Name', 'First Name', 'Address', 'City', 'State', 'Zip Code', 'Linked Students']"
                data="members"
                properties="['membershipId', 'lastName', 'firstName', 'address', 'city', 'state', 'zipCode', 'studentIds']">
        <mdt-select-actions>
            <md-button class="md-icon-button" ng-click="deleteSelected(members)"><md-icon md-svg-icon="action:delete" aria-label="Delete Selected"></md-icon></md-button>
        </mdt-select-actions>
    </mdt-data-table>

    <mdt-data-table title="Students"
            headers="['Student Id', 'First Name', 'Last Name', 'Grade', 'Unit', 'Linked Parent']"
            data="students"
            properties="['studentId', 'firstName', 'lastName', 'grade', 'unit', 'parentId']">
        <mdt-select-actions>
            <md-button class="md-icon-button" ng-click="deleteSelected(students)"><md-icon md-svg-icon="action:delete" aria-label="Delete Selected"></md-icon></md-button>
        </mdt-select-actions>
    </mdt-data-table>

    <pre>{{members | json}}</pre>
</div>