<!--TODO: Consider splitting this up into a 'staged donation' page, using tabs -->
<div style="max-width: 864px; margin: auto;" class="md-whiteframe-z1">
    <form ng-controller="MembershipCtrl" name="userForm">
        <md-tabs md-selected="data.index">
            <md-tab label="Why">
                <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                    <div>
                        <h2>Join the Centerville High School PTO!</h2>
                        <p>Joining helps support teachers, students, and parents:</p>
                        <ul>
                            <li>PTO Scholarships for Students</li>
                            <li>After-Prom</li>
                            <li>College Information Night</li>
                            <li>Various clubs and activities</li>
                            <li>ELK PRIDE</li>
                            <li>Teacher Recognition Luncheon</li>
                            <li>Academic Volunteer program</li>
                            <li>College and Career fair</li>
                            <li>Open House</li>
                            <li>College Financial Aid Information Night</li>
                            <li>ELK NEWS daily email service</li>
                        </ul>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="data.accept()">Join</md-button>
                </div>
            </md-tab>
            <md-tab label="You" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="user.first">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="user.last">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container flex>
                            <label>Address</label>
                            <input ng-model="user.address">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>
                        <md-input-container flex>
                            <label>State</label>
                            <input ng-model="user.state">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Zip Code</label>
                            <input ng-model="user.postalCode">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Students" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label>Add a Student</label>
                        <md-slider md-discrete ng-model="numStudents"
                                  ng-change="changeStudents(numStudents)"
                                  step="1" min="1" max="7"></md-slider>
                    </div>
                    <div ng-repeat="student in user.students">
                        <h3 class="md-primary">Student {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>First Name</label>
                               <input ng-model="student.first">
                           </md-input-container>
                           <md-input-container flex>
                               <label>Last Name</label>
                               <input ng-model="student.last">
                           </md-input-container>
                        </div>
                        <div layout layout-sm="column">

                            <md-input-container flex>
                                <select class='md-input' ng-model="student.grade">
                                    <option value="" disabled selected>Grade</option>
                                    <option value="9">Freshmen</option>
                                    <option value="10">Sophomore</option>
                                    <option value="11">Junior</option>
                                    <option value="12">Senior</option>
                                </select>
                            </md-input-container>
                            <md-input-container flex>
                                <select class='md-input' ng-mousedown="toggle" ng-model="student.unit">
                                    <option value="" disabled selected>Unit</option>
                                    <option value="E">East</option>
                                    <option value="S">South</option>
                                    <option value="W">West</option>
                                </select>
                            </md-input-container>
                        </div>
                    </div>

                </div>
            </md-tab>
            <md-tab label="Donate" ng-disabled="!data.accepted">

                <div layout-margin layout="column">
                    <div layout="column" layout-align="center center" layout-fill>
                        <input type="number" ng-model="payment.amount">{{ payment.amount | currency }}</h3>
                    </div>
                    <md-slider ng-model="payment.amount" min="0" max="500"></md-slider>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Number</label>
                            <input id="payment-number" ng-model="payment.number">
                        </md-input-container>
                        <md-input-container flex>
                            <label>First</label>
                            <input id="payment-first" ng-model="payment.first">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last</label>
                            <input id="payment-last" ng-model="payment.last">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="33">
                            <label>MM/YY</label>
                            <input id="payment-exp" ng-model="payment.date">
                        </md-input-container>
                        <md-input-container flex="33">
                            <label>CVC</label>
                            <input id="payment-cvc" ng-model="payment.cvv2">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
       </md-tabs>
    </form>
</div>