<div style="max-width: 864px; margin: auto;" class="md-whiteframe-z1">
    <form ng-controller="ScholarshipCtrl" ng-submit="newScholar()"name="userForm" novalidate>
        <md-tabs md-selected="data.index">
            <md-tab label="Why">
                <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                    <div>
                        <h2>Centerville High School PTO Scholarship Application</h2>
						<p>Sign up for the Centerville PTO Scholarship Today!</p>
						<p>This scholarship is available for any Centerville High School Senior</p>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="data.accept()">Apply</md-button>
                </div>
            </md-tab>
            <md-tab label="You" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="user.first">
                        </md-input-container>
						<md-input-container flex>
                            <label>Middle Name</label>
                            <input ng-model="user.middle">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="user.last">
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container flex>
                            <label>Address</label>
                            <input ng-model="user.address">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>
                        <md-input-container flex>
                            <label>State</label>
                            <input ng-model="user.state">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Zip Code</label>
                            <input ng-model="user.postalCode">
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>Phone Number</label>
                            <input ng-model="user.phone">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="user.email">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Academics" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>GPA</label>
                            <input ng-model="user.gpa">
                        </md-input-container>
					</div>
                    <div>
                        <label>Honors Classes:</label>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>9th Grade</label>
                            <input ng-model="user.nine">
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>10th Grade</label>
                            <input ng-model="user.ten">
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>11th Grade</label>
                            <input ng-model="user.eleven">
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>12th Grade</label>
                            <input ng-model="user.twelve">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Activities" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Add a School Related Activity</strong></label>
                        <md-slider md-discrete ng-model="numS"
                                  ng-change="changeSchoolActivity(numS)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.SchoolActivities">
                        <h3 class="md-primary">Activity {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Activity Name</label>
                               <input ng-model="SchoolActivities.name">
                           </md-input-container>
						   <md-input-container flex>
                               <label>Hours per Month</label>
                               <input ng-model="SchoolActivities.hours">
                           </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <select class='md-input' ng-model="SchoolActivities.om">
                                    <option value="" disabled selected>Officer or Member</option>
                                    <option value="o">Officer</option>
                                    <option value="m">Member</option>
                                </select>
                            </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="SchoolActivities.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="SchoolActivities.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="SchoolActivities.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="SchoolActivities.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
					<br \><br \><br \>
					<div>
                        <label><strong>Add a Community Related Activity</strong></label>
                        <md-slider md-discrete ng-model="numC"
                                  ng-change="changeCommunityActivity(numC)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.CommunityActivities">
                        <h3 class="md-primary">Activity {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Activity Name</label>
                               <input ng-model="CommunityActivities.name">
                           </md-input-container>
						   <md-input-container flex>
                               <label>Hours per Month</label>
                               <input ng-model="CommunityActivities.hours">
                           </md-input-container>
                        </div>
                        <div layout layout-sm="column">
                            <md-input-container flex>
                                <select class='md-input' ng-model="CommunityActivities.om">
                                    <option value="" disabled selected>Officer or Member</option>
                                    <option value="o">Officer</option>
                                    <option value="m">Member</option>
                                </select>
                            </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="CommunityActivities.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="CommunityActivities.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="CommunityActivities.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="CommunityActivities.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Honors/Awards" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Add a Honor/Award</strong></label>
                        <md-slider md-discrete ng-model="numH"
                                  ng-change="changeHonors(numH)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.Honors">
                        <h3 class="md-primary">Honor/Award {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Name</label>
                               <input ng-model="Honors.name">
                           </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="Honors.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="Honors.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="Honors.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="Honors.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Employment" ng-disabled="!data.accepted">
                <div layout-margin>
                    <div>
                        <label><strong>Add a Job</strong></label>
                        <md-slider md-discrete ng-model="numJ"
                                  ng-change="changeJob(numJ)"
                                  step="1" min="1" max="10"></md-slider>
                    </div>
                    <div ng-repeat="activities in user.Jobs">
                        <h3 class="md-primary">Job {{$index+1}}</h3>
                        <div layout layout-sm="column">
                           <md-input-container flex>
                               <label>Name</label>
                               <input ng-model="Jobs.name">
                           </md-input-container>
						   <md-input-container flex>
                               <label>Hours per Month</label>
                               <input ng-model="Jobs.hours">
                           </md-input-container>
						</div>
						<div layout layout-sm="column">
							<md-input-container flex>
                               <label>Months per Year</label>
                               <input ng-model="Jobs.months">
                            </md-input-container>
							<md-checkbox md-no-ink aria-label="9th Grade" ng-model="Jobs.cb9" class="md-primary">
								<label>9th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="10th Grade" ng-model="Jobs.cb10" class="md-primary">
								<label>10th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="11th Grade" ng-model="Jobs.cb11" class="md-primary">
								<label>11th</label>
							</md-checkbox>
							<md-checkbox md-no-ink aria-label="12th Grade" ng-model="Jobs.cb12" class="md-primary">
								<label>12th</label>
							</md-checkbox>
                        </div>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Essay" ng-disabled="!data.accepted">
                <div layout-margin>
						<p>Please answer the following question. The activity can be, but is not required to be, school related.</p>
						<p>What has been your most important extracurricular activity, your most important contribution to it, and what has your participation in it meant to you as an individual?</p>
                    <md-input-container flex>
						<label>Essay</label>
						<textarea ng-model="user.essay" minlength="1000" md-maxlength="5500" required></textarea>
					</md-input-container>
                </div>
            </md-tab>
       </md-tabs>
    </form>
</div>