<h1>Meet The Board</h1>
<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="image" height="90" width="80"><br \>
		<strong>President</strong><br \>
		Name<br \>
		Address<br \>
		Phone<br \>
		Email
	</div>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="image" height="90" width="80"><br \>
		<strong>Vice President</strong><br \>
		Name<br \>
		Address<br \>
		Phone<br \>
		Email
	</div>
</div>
<div layout="row" layout-sm="column" layout-margin layout-fill layout-padding>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="image" height="90" width="80"><br \>
		<strong>Secretary</strong><br \>
		Name<br \>
		Address<br \>
		Phone<br \>
		Email
	</div>
	<div flex>
		<img src="../img/profile_pic.jpeg" alt="image" height="90" width="80"><br \>
		<strong>Treasurer</strong><br \>
		Name<br \>
		Address<br \>
		Phone<br \>
		Email
	</div>
</div>