<div layout-margin layout-padding layout="column" layout-align="center center">
    <header layout="column" layout-align="space-around center" flex>
        <h1 class="md-display-1">Meet the Board</h1>
    </header>
    <div layout="row" layout-sm="column" layout-align="space-around center" layout-fill flex>
        <div ng-repeat="member in board" itemscope itemtype="http://schema.org/Person">
            <img ng-src="{{member.image}}" alt="image" height="90" width="80">
            <p><span itemprop="name">{{member.name}}</span></p>
            <p>Position: <span itemprop="jobTitle">{{member.position}}</span></p>
            <p>Phone: <a ng-href="tel:{{member.phone}}"><span itemprop="telephone">{{member.phone}}</span></a></p>
            <p>Email: <a ng-href="mailto:{{member.email}}"><span itemprop="email">{{member.email}}</span></a></p>
        </div>
    </div>
</div>