<div layout="column" layout-align="space-around center" flex>
    <h1 class="md-display-1">News</h1>
</div>
<div layout="row" layout-sm="column" layout-wrap>
    <md-card ng-repeat="article in articles" ng-click="readArticle(article)" ng-style="diediedie">
        <img class="md-card-image" ng-src="{{article.image}}">
        <md-card-content>
            <h2 class="md-headline">{{article.title}}</h2>
            <small class="md-caption">{{ article.month }}/{{ article.day }}/{{ article.year }}</small>
        </md-card-content>
    </md-card>
    <md-button class="md-fab md-fab-bottom-right" style="position:fixed" ng-if="user" ng-click="createDownload($event)"
               aria-label="Add Download">
        <md-icon md-svg-icon="content:create"></md-icon>
    </md-button>
</div>