<div layout-margin layout-padding>
    <div layout="column" layout-align="space-around center" flex>
        <h1 class="md-display-1">News</h1>
    </div>
    <div layout="row" layout-sm="column" layout-wrap>
        <md-card ng-repeat="article in articles" ng-click="readArticle(article)" ng-style="cardStyle" style="cursor: pointer">
            <img class="md-card-image" ng-src="{{ article.pictureUrl }}">
            <md-card-content>
                <h2 class="md-headline" ng-style="titleStyle">{{article.title}}</h2>
                <p class='md-body-1' ng-hide='article.pictureUrl'>{{article.description}}</p>
            </md-card-content>
            <md-card-footer  layout="row">
                <div layout='column'>
                    <small class='md-body-1'>{{ article.author }}</small>
                    <small class="md-caption">{{ article.datetime | date:'MMMM d, yyyy hh:mm a' }}</small>
                </div>
            </md-card-footer>
            <div class="md-actions" layout="row" layout-align="end center" ng-if="user">
                <md-button class="md-warn" ng-click="deleteArticle(article, $index, $event)">Delete</md-button>
                <md-button ng-click="editArticle(article, $event)">Edit</md-button>
            </div>
        </md-card>
        <md-button class="md-fab md-fab-bottom-right" style="position:fixed" ng-if="user" ng-href="#/admin/new-article"
                   aria-label="Add Download">
            <md-icon md-svg-icon="content:create"></md-icon>
        </md-button>
    </div>
</div>