<div style="max-width: 864px; margin: auto;" class="md-whiteframe-z1">
    <form ng-controller="ScholarshipCtrl" ng-submit="newScholar()" name="userForm" novalidate>
        <md-tabs md-selected="data.index">
            <md-tab label="Apply">
                <div layout="row" layout-sm="column" layout-align="center center" layout-margin>
                    <div>
                        <h2>CHS PTO Volunteer Form</h2>
						<p>Sign up to be a Centerville PTO Volunteer Today!</p>
						<p>Please indicate which activities you are interested in helping the CHS PTO with this year. Your name will be given to the appropriate PTO committee and you will be contacted. THANKS!</p>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="data.accept()">Apply</md-button>
                </div>
            </md-tab>
            <md-tab label="You" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="user.first">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="user.last">
                        </md-input-container>
                    </div>
					<div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label>Phone Number</label>
                            <input ng-model="user.phone">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Email</label>
                            <input ng-model="user.email">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
			<md-tab label="Summer/Fall Activities" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sfact.c1" class="md-primary">
							<label>Assist with student orientation activities week of August 15th.</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sfact.c2" class="md-primary">
							<label>Assist with student orientation activities first 2 weeks of school - Aug.15 - Sept. 9
							(Activities include handing out schedules, selling parking passes, selling activity passes, etc.)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sfact.c3" class="md-primary">
							<label>Count money collected during Spirit Chain Week, beginning week of September 26</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
						Check Days Available:
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c3m" class="md-primary">
							<label>Monday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c3t" class="md-primary">
							<label>Tuesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c3w" class="md-primary">
							<label>Wednesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c3th" class="md-primary">
							<label>Thursday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c3f" class="md-primary">
							<label>Friday</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sfact.c4" class="md-primary">
							<label>Sell Dance Tickets during lunch hours: Homecoming</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
						Check Days Available:
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c4m" class="md-primary">
							<label>Monday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c4t" class="md-primary">
							<label>Tuesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c4w" class="md-primary">
							<label>Wednesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c4th" class="md-primary">
							<label>Thursday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sfact.c4f" class="md-primary">
							<label>Friday</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sfact.c5" class="md-primary">
							<label>Assist during Homecoming Dance (Saturday 8-11pm)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sfact.c6" class="md-primary">
							<label>Coat check during dance</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sfact.c6" class="md-primary">
							<label>Refreshment replenishments during dance</label>
						</md-checkbox>
					</div>
				</div>
            </md-tab>
			<md-tab label="Winter Activities" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="wact.c1" class="md-primary">
							<label>Assist with Freshman Fundraiser (Early December-Counting money, sorting goods sold, etc.)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="wact.c2" class="md-primary">
							<label>Staff phones for Parent-Teacher conference appointment-change requests (February)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="wact.c3" class="md-primary">
							<label>Help with or participate in the PTO College & Career Fair (March)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
						<md-input-container flex>
                            <label>Career</label>
                            <input ng-model="wact.career">
                        </md-input-container>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="wact.c4" class="md-primary">
							<label>Sell Dance Tickets during lunch hours: Winter Dance</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
						Check Days Available:
						<md-checkbox md-no-ink aria-label="" ng-model="wact.c4m" class="md-primary">
							<label>Monday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="wact.c4t" class="md-primary">
							<label>Tuesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="wact.c4w" class="md-primary">
							<label>Wednesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="wact.c4th" class="md-primary">
							<label>Thursday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="wact.c4f" class="md-primary">
							<label>Friday</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="wact.c5" class="md-primary">
							<label>Assist during Winter Dance (Saturday 8-11pm)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="wact.c6" class="md-primary">
							<label>Coat check during dance</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="wact.c7" class="md-primary">
							<label>Refreshment replenishments during dance</label>
						</md-checkbox>
					</div>
				</div>
            </md-tab>
			<md-tab label="Spring Activities" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c1" class="md-primary">
							<label>Sell Prom/After- Prom tickets during lunch hour. (Early May)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
						Check Days Available:
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1m" class="md-primary">
							<label>Monday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1t" class="md-primary">
							<label>Tuesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1w" class="md-primary">
							<label>Wednesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1th" class="md-primary">
							<label>Thursday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1f" class="md-primary">
							<label>Friday</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c2" class="md-primary">
							<label>Assist during Prom (Saturday 9pm-12am)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c3" class="md-primary">
							<label>Volunteer at After-Prom (Includes: chaperone, help with games/activities, etc. 12am-4am)</label>
						</md-checkbox>
					</div>
				</div>
            </md-tab>
			<!--finished here-->
			<md-tab label="Other Activities" ng-disabled="!data.accepted">
                <div layout-margin layout="column">
                    <strong>Weekly/Bi-weekly/Monthly Activities</strong>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c1" class="md-primary">
							<label>Make student absentee calls (Approx. 10:30am-11:00am)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
						Check Days Available:
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1m" class="md-primary">
							<label>Monday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1t" class="md-primary">
							<label>Tuesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1w" class="md-primary">
							<label>Wednesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1th" class="md-primary">
							<label>Thursday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c1f" class="md-primary">
							<label>Friday</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c2" class="md-primary">
							<label>Type & email student announcements for ELK NEWS (Training given)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
						Check Days Available:
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c2m" class="md-primary">
							<label>Monday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c2t" class="md-primary">
							<label>Tuesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c2w" class="md-primary">
							<label>Wednesday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c2th" class="md-primary">
							<label>Thursday</label>
						</md-checkbox>
						<md-checkbox md-no-ink aria-label="" ng-model="sact.c2f" class="md-primary">
							<label>Friday</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c3" class="md-primary">
							<label>Assist PTO Communication committee with mailings (Elk Tales, special notices, etc.)</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c4" class="md-primary">
							<label>Assist Elk Pride Committee solicit prizes/awards given to staff & students weekly for "good deeds" and "CHS Elkspirit"</label>
						</md-checkbox>
					</div>
					<strong>Help Needed At Various Times Throughout The School Year</strong>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c5" class="md-primary">
							<label>Assist PTO Hospitality committee with baked goods, food items for special events</label>
						</md-checkbox>
					</div>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c6" class="md-primary">
							<label>Help with one-time events as the need arises</label>
						</md-checkbox>
					</div>
					<strong>PTO Board</strong>
					<div layout="row" layout-sm="column">
                        <md-checkbox md-no-ink aria-label="" ng-model="sact.c7" class="md-primary">
							<label>Find out about becoming a member of the PTO board</label>
						</md-checkbox>
					</div>
				</div>
				<div layout-align="center center">
                    <md-button class="md-primary md-raised" type="submit" ng-disabled="userForm.$invalid">Submit</md-button>
                </div>
            </md-tab>
       </md-tabs>
    </form>
</div>