<div ng-app="membershipForm" ng-controller="FormCtrl" layout="column">
    <md-content>
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="user.first">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="user.last">
                </md-input-container>
            </div>

            <md-input-container flex>
                <label>Address</label>
                <input ng-model="user.address">
            </md-input-container>

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>City</label>
                    <input ng-model="user.city">
                </md-input-container>
                <md-input-container flex>
                    <label>State</label>
                    <input ng-model="user.state">
                </md-input-container>
                <md-input-container flex>
                    <label>Zip Code</label>
                    <input ng-model="user.postalCode">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>No. of Students</label>
                <select ng-model="numStudents">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </md-input-container>
            <div ng-repeat="student in students">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>First Name</label>
                        <input ng-model="student.first">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input ng-model="student.last">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Grade</label>
                        <input ng-model="student.grade">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Unit</label>
                        <input ng-model="student.unit">
                    </md-input-container>
                </div>
            </div>
        </form>
    </md-content>
</div>