<article class="md-whiteframe-z1" layout-margin layout-padding layout="column" layout-align="center center">
    <header>
        <h1 class="md-headline">PTO Calendar</h1>
    </header>
    <table class="calendar-table">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Event Location</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in calendar" itemscope itemtype="http://schema.org/Event">
                <td><span itemprop="name">{{event.name}}</span></td>
                <td><time datetime="{{event.date}}" itemprop="startDate">{{event.date | date:'yyyy-MM-dd hh:mm:ss a'}}</time></td>
                <td><span itemprop="location">{{event.location}}</span></td>
                <td><span itemprop="organizer">{{event.contact}}</span></td>
            </tr>
        </tbody>
    </table>
</article>