<md-card md-table-card>
    <md-card-header ng-class="{'dt-select-header': selected.length > 0 && customHeader}">
        <div layout="row" ng-if="!customHeader">
            <h2 class="md-title">{{title}}</h2>
            <span ng-if="search" flex></span>
            <div layout="row" ng-if="search" layout-align="end center">
                <md-button aria-label="Search table" class="md-icon-button" ng-click="toggleSearch()" ng-if="!doSearch"><md-icon md-svg-icon="content:filter_list"></md-icon></md-button>
                <md-input-container ng-if="doSearch" style="padding-bottom: 0;">
                    <label for="dtSearch">Filter</label><input id="dtSearch" type="search" ng-model="searchFilter.$" ng-blur="toggleSearch()"/>
                </md-input-container>
            </div>
        </div>
        <div ng-transclude></div>
    </md-card-header>
    <md-card-content>
        <div class="mdt-data-table-wrapper">
            <table class="mdt-data-table">
                <thead>
                <tr>
                    <th><md-checkbox md-no-ink ng-model="$allChecked" ng-change="checkAll($allChecked)" aria-label="Select All"></md-checkbox></th>
                    <th ng-repeat="header in headers" ng-click="sort($index)" ng-mouseenter="setHover($index)" ng-mouseleave="clearHover()">
                        <div layout="row" layout-align="space-around">
                            <div>
                                <md-icon md-svg-icon="navigation:arrow_up" ng-style="hoverStyle.shouldStyle($index)" ng-if="(sortedColumn.index == $index && sortedColumn.order == '+') || hoverStyle.isHovered($index)"></md-icon>
                                <md-icon md-svg-icon="navigation:arrow_down" ng-if="sortedColumn.index == $index && sortedColumn.order == '-'"></md-icon>
                            </div>
                            <md-tooltip ng-if="header.description">{{header.description}}</md-tooltip>
                            {{header.title}}
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in data | filter: searchFilter | orderBy:sortedColumn.predicate | offset: currentPage*viewLimit | limitTo: viewLimit" ng-class="{'dt-checked': row.$checked}">
                    <td><md-checkbox md-no-ink ng-model='row.$checked' ng-change="checkItem(row.$checked, row)" aria-label="Select Row"></md-checkbox></td>
                    <td ng-repeat="prop in properties">{{ row[prop] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
    <md-card-footer layout="row" layout-align="end center">
            <p class="md-caption" style="padding-right: 40px;">Rows per page: </p>
            <md-select ng-model="viewLimit" class="md-caption" style="padding-right: 32px;">
                <md-option value="10">10</md-option>
                <md-option value="25">25</md-option>
                <md-option value="50">50</md-option>
                <md-option value="100">100</md-option>
            </md-select>
            <p class="md-caption" style="padding-right: 32px;">{{getRange()}} of {{data.length}}</p>
            <div layout="row">
                <md-button class="md-icon-button" aria-label="Previous Page" ng-disabled="previousPageDisabled()" ng-click="prevPage()"><md-icon md-svg-icon="navigation:chevron_left" ng-style="previousStyle"></md-icon></md-button>
                <md-button class="md-icon-button" aria-label="Next Page" ng-click="nextPage()" ng-disabled="nextPageDisabled()"><md-icon md-svg-icon="navigation:chevron_right" ng-style="nextStyle"></md-icon></md-button>
            </div>
    </md-card-footer>
</md-card>
